*{
	margin:0;
	padding:0;
}

#title{
	color:red;
	font-family:calibri;
}
#for{
	margin-left:110px;
	width:auto;
	color:hotpink;
	font-family:calibri;
}
.form-submit-button {

background: #0066A2;

color: white;

border-style: outset;

border-color: #0066A2;

height: 50px;

width: 100px;

font: bold 15px arial, sans-serif;

text-shadow:none;

}